.fabc-related-posts-list li {
	cursor: pointer;
}

.wp-core-ui select[multiple].components-select-control__input {
	height: auto !important;
	min-height: 100px !important;
}

.fabc-content-block {
	background-color: #f3f3f3;
	cursor: pointer;
	padding: 4px;
}

.fabc-related-post ol {
	margin-top: 4px;
}

.fabc-related-post h4 {
	margin-bottom: 3px;
}

.fabc-related-post input {
	width: 100%;
	padding: 10px;
}

.fabc-related-post .fabc-loader {
	border: 3px solid #f3f3f3;
	border-top: 3px solid #333;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-bottom: -5px;
	display: none;
}

.fabc-loader {
	display: inline-block;
	border: 16px solid #f3f3f3;
	border-top: 16px solid #333;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: fabc-spin .5s linear infinite;
}

@keyframes fabc-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}